{% extends 'base.html' %}
{% block page_title %}Reset Email Sent{% endblock %}

{% block hero %}

<div class="col-md-6">
  <h1>Check Your Inbox</h1> 
</div>

{% endblock %}

{% block content %}
<section class="form">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-6 mx-auto">
        <p>We've emailed you with instructions for resetting your password.</p>
        <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}