html {
    min-height: 100%;
    position: relative;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: 1rem;
    font-weight: 600;
    color: #616161!important;
    padding-bottom: 150px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.alert {
    border-radius: 0;
}

.help-block {
    font-size: 14px;
}

.error-msg {
    color: red!important;
    font-size: 14px;
}

.main-nav li label {
    margin-bottom: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: #fff176;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}

/*HEROS*/
section.hero {
    background: rgb(247,41,255);
    background: linear-gradient(90deg,
                rgba(253,29,29,.6) 0%,
                rgba(247,41,255,.6) 34%,
                rgba(41,148,255,.7) 68%,
                rgba(161,41,255,.6) 85%);
    min-height: 200px;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.home-hero-box {
    border: dashed 4px #fff;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.home-hero-box .found {
    padding: 30px;
}



/*HOME PAGE*/
section.features {
    background-color: rgba(161, 41, 255, 0.6);
    color: #fff;
}

.features .feature {
    padding-bottom: 24px;
}

.feature i {
    font-size: 30px;
    margin-bottom: 12px;
}

section.home-cta h3 {
    margin-bottom: 24px;
}



/*ISSUE TRACKER HOME*/
.circle {
    border: dashed 2px #2994ff;
    border-radius: 10px;
    padding: 24px;
    margin-top: 24px;
    margin-bottom: 30px;
}

.circle h2 {
    font-size: 22px;
}

.issue-intro-btn {
    position: relative;
    margin-bottom: 24px;
}

.ticket-head.fixed {
    background-color: rgba(35, 161, 39, 0.3);
}

.ticket-head.working-on {
    background-color: rgba(161, 41, 255, 0.3);
}

.ticket-head.todo {
    background-color: rgba(41, 148, 255, 0.3);
}


.ticket {
    margin-bottom: 24px;
    padding: 12px;
}

.ticket.fixed {
    border: solid 2px #23a127;
}

.ticket.working-on {
    border: solid 2px #a129ff;
}

.ticket.todo {
    border: solid 2px #2994ff;
}

.ticket-desc {
    font-weight: 400;
}

.ticket .score {
    font-size: 30px;
}

.ticket .score.faded {
    color: #9c9c9c;
}





footer {
    padding-top: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    border-style: solid;
    border-width: 4px 1px 0px 1px;
}