{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block page_title %}Cart{% endblock %}

{% block hero %}
<div class="col-md-12 text-center">
  <h1>Your Shopping Cart</h1>
</div>
{% endblock %}

{% block content %}
<section class="cart">
<div class="container">
<div class="row">
  <div class="col-12 text-center">
    <p>To Remove An Item, Change Qty To 0</p>
  </div>
  {% for item in cart_items %}
   <div class="col-sm-8 mx-auto cart-product">
        <h3>{{ item.product.name }}</h3>
        <p class="product-description">{{ item.product.description }}</p>
        <p>£ {{ item.product.price }}</p>

          <form class="form" method="post" action="{% url 'adjust_cart' item.id %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="quantity" class="">Qty</label>
              
                <input name="quantity" type="number" min="0" max="999" class="col-sm-2" value="{{item.quantity}}">
                
                <button type="submit" class="btn btn-primary"><span></span>Amend</button>
              </div>
          </form>
          <hr>
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-sm-12 text-center">
    <p>Total</p>
    <p>£ {{ total }}</p>
    <a href="{% url 'checkout' %}" class="btn btn-lg btn-success" role="button"><span></span>Checkout</a>
    </div>
</div>
</div>
</section>

{% endblock %}