{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}Bug - {{ bug.title }}{% endblock %}

{% block hero %}
<div class="col-md-12 text-center">
  <h1>{{ bug.title }}</h1>
</div>
{% endblock %}

{% block content %}
<section class="bug-detail">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p class="desc">{{ bug.description }}</p>
        
        <p>If you are having the same issue, then hit that upvote button and let us know</p>
        <p><small>(Don't forget to login or register)</small></p>
        
        {% if bug.fixed or bug.working_on %}
        <span class="score faded upvote-btn score"><i class="fas fa-arrow-up"></i> {{ bug.score }}</span>
        
        <p class="text-success">ISSUE IS EITHER FIXED OR IS BEING WORKED ON</p>
        {% else %}
        {% if user.is_authenticated %}
        <button data-id="{{ bug.id }}" class="btn btn-primary upvote-btn score"><i class="fas fa-arrow-up"></i> <span class="score-btn">{{ bug.score }}</span></button>
        {% else %}
        <button disabled data-id="{{ bug.id }}" class="btn btn-primary upvote-btn score"><i class="fas fa-arrow-up"></i> <span class="score-btn">{{ bug.score }}</span></button>
        {% endif %}
        {% endif %}
        
        
        {% if not bug.fixed %}
        {% if user.is_staff %}
        <a href="{% url 'bug_fixed' bug.id %}" class="btn btn-lg btn-danger">Mark Bug As Fixed</a>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section class="comments">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3>Comments</h3>
        {% if user.is_authenticated %}
        <a href="{% url 'add_bug_comment' bug.id %}" class="btn btn-success">Add Comment</a>
        {% endif %}
        <hr>
      </div>
    </div>
    <div class="row">
      {% if comments %}
        {% for comment in comments %}
        <div class="col-sm-8 mx-auto comment">
          <p class=" text-warning"><i class="fas fa-user"></i> {{ comment.creator}}&nbsp;&nbsp; <i class="fas fa-calendar-alt"></i> {{ comment.date_created }}</p>
          <p>{{ comment.text }}</p>
          <hr>
        </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>




<script>
  $(".upvote-btn").click(function() {
  
  var clicked_element = this;
  
  var id = $(clicked_element).attr("data-id");
  
  var url = '/issue-tracker/upvote-bug/'+id;
  
  
  $.ajax({
    url: url,
    success: function (data) {
      $(clicked_element).find("span").html(data.score);
    }
    
    });
});
</script>
{% endblock %}