{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}Suggest A Feature{% endblock %}


{% block hero %}
<div class="col-md-6">
  <h1>Help Us Improve, Suggest A Feature</h1>
</div>
{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Suggest A Feature</h2>
        
        <form method="POST">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <button type="submit" class="btn btn-lg btn-primary">Suggest Feature</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}